.your-high-score{
	table{
		font-size:12px;
		width: 100%;
		td{
			margin:10px;
		}
	}
	a{
		font-size:12px;
	}
}

.text{
	&-allscore{
		table{
			width: 100%;
			background:#fff;
			border-left:none;
			border-right:none;
			border:none;
			thead{
				td{
					font-weight:bold;
				}
			}
			td{
				text-align: center !important;
				width: auto !important;
				height: auto !important;
				padding: 10px !important;
				background-color: #FFFFFF !important;
				border: 1px solid #f3f3f3 !important;
				display:table-cell !important;
			}
		}
	}
}
.pagination{
	margin-top: 10px;
	margin-left: -41px;

	li{
		display: inline-block;
		list-style: none;
		margin: 2px;
		a{
			padding:5px 10px;
			width: 50px;
			border-radius:5px 0 0 5px;
			border:1px solid #cacaca;
			text-decoration: none;
			&:hover{
				background:#37A7F2;
				color:#fff;
				border-color:#37A7F2;
			}
		}
		a.next{
			border-radius:0 5px 5px 0 !important;
		}
	}
}